body {
	font: 17px 'Lato', Arial,sans-serif;
	color: #333;
	height: 100%;
}

.navbar {
	background:#006da1;
}

#header {
	background:#006da1;
	height: 60px;
}

#header img {
}

.console {
	background: #fff;
	font-size: 15px;
	padding: 2em 0 2em 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	margin-top: 50px;
}

#guid {
	height:500px;
}

#cli {
	width: auto;
	height: 300px;
	color:black;
}

footer {
	background : #eee;
}


div.curl-console .jquery-console-welcome {
color: #888;
margin-bottom: 0.5em;
}
div.curl-console { font-size: 14px; margin-top:1em }
div.curl-console div.jquery-console-inner
{ width:750px; height:500px; background:#fff; padding:0.5em;
 overflow:auto; border-left:1px solid #eee;}
div.curl-console div.jquery-console-prompt-box
{ color:#444; font-family:monospace; }
div.curl-console div.jquery-console-focus span.jquery-console-cursor
{ background:#333; color:#eee; font-weight:bold }
div.curl-console div.jquery-console-message-error
{ color:#ef0505; font-family:sans-serif; font-weight:bold;
 padding:0.1em; }
div.curl-console div.jquery-console-message-success
{ color:#187718; font-family:monospace;
 padding:0.1em; }
div.curl-console span.jquery-console-prompt-label { font-weight:bold; color: #006da1;}

code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	white-space: nowrap;
}

.title {
	margin-bottom: 4px;
}